!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %title Findus

  %body
    .topbar
      .topbar-inner
        .container-fluid
          = link_to 'findus', root_path, :class => 'brand'
          - if user_signed_in?
            %ul.nav
              %li
                %a{:href => "#"} Home
              - @categories.each do |category|
                %li
                  %a{:href => "#categories/#{category.id}"}=category.name
            %p.pull-right
              Logged in as
              = image_tag current_user.gravatar_url(:size => 15)
              %a{:href => "##{current_user.username}"}= current_user.username
              = link_to "sign out", destroy_user_session_path, :method => :delete
    .container-fluid
      .sidebar
        .well
          %h5 Sidebar
          %ul
            %li
              %a{:href => '#users'}Users
      .content
        - if !user_signed_in?
          .hero-unit
            %h1 Welcome
            %p
              You're either with us or against us.
          = link_to "sign up", new_user_registration_path
          = link_to "sign in", new_user_session_path
        - if notice
          %p.alert-message.success= notice
        - if alert
          %p.alert-message.error= alert

        = yield
        #main
